@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #FFDAC9; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }


/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #794D38;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    
  }

  body{
    background-color: #FFFEFB;
    font-family: 'Hubballi', cursive;
  }
  
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.jump:hover{
    transform: translateY(-15px);
    transition: transform .3s;
}

.star{
    color: #FF8B93;
}

.Mrounded{
    border-radius: 50% !important; 
}

.Mbutton{
  background-color: #FF8B93; /* Green */
  border: none;
  color: #FFFEFB;
  padding: 19px 26px 19px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.Mbutton:hover .fa-plus::before{
  content: '\f1fd';
}

.Mbutton:hover{
    padding: 19px 25px 19px 25px;
    background-color: #c97278; 
    color: #FFFEFB;
}

img{
  top: 50%;
  left: 50%;
}